# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
.next/
out/
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
*.pem
Thumbs.db

# Scrapes, Dumps & Temp
*_raw.html
*.raw
*.dump
*.tmp
*.bak
